<body>
    <div>
        <h1>Работу выполнил:
        </h1>
        <h4>Студент группы FR93-2023</h4>
    </div>
    <div class="container">
        <div class="card" style="width: 10rem;">
            <img src="https://i.pinimg.com/originals/c1/a0/74/c1a0747f16a882071ca6131fa6c317c9.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Лязин Кирилл</h5>
                <p class="card-text">Контактная информация <br> <a href="https://t.me/Kirpichc">Телеграмм</a> <br> <a
                        href="https://vk.com/kirpichc">Вконтакте</a></p>
            </div>
        </div>
    </div>
</body>